## 분석할 것들
어떤 것을 분석해야 할까?

1. global 평균 독서 시간
2. 개인 독서 시간
3. 키워드 분석
4.

In [103]:
import pandas as pd
from datetime import datetime, date
import re
import matplotlib.pyplot as plt

pd.set_option('display.max_rows', None)

In [67]:
record = pd.read_csv('record.csv')

In [68]:
record.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   타임스탬프                  162 non-null    object
 1   이름                     162 non-null    object
 2   독서_날짜                  162 non-null    object
 3   책 제목                   162 non-null    object
 4   시작 페이지                 162 non-null    int64
 5   종료 페이지                 162 non-null    int64
 6   쪽수                     162 non-null    int64
 7   독서 시간(분단위, 단위는 입력  x)  162 non-null    int64
 8   오늘의 문장                 140 non-null    object
 9   날짜                     162 non-null    object
dtypes: int64(4), object(6)
memory usage: 12.8+ KB

In [69]:
record.describe()

           시작 페이지      종료 페이지          쪽수  독서 시간(분단위, 단위는 입력  x)
count  162.000000  162.000000  162.000000             162.000000
mean   137.666667  171.802469   34.135802              30.135802
std    103.507494  103.666321   35.636799              22.917759
min      1.000000    8.000000    4.000000               5.000000
25%     56.000000   94.250000   15.000000              15.000000
50%    125.000000  162.500000   25.500000              26.000000
75%    201.500000  234.250000   42.000000              31.000000
max    513.000000  553.000000  323.000000             230.000000

# 전처리

어떤 data를 사용할 것인가. 
1. 날짜
2. 시간대 -> 개인이 주로 언제 책을 읽는지
3. 독서량
4. 독서시간 
5. 분당 독서량
6. 키워드

In [71]:
def make24hour(x):
    lst = x.split(' ')[3:]
    time = int(lst[1].split(':')[0])
    
    if lst[0] == '오후':
        if time == 12:
            return time
        else:
            time += 12
        
    elif lst[0] == '오전' and time == 12:
        time = 0
    return time

In [72]:
record['타임스탬프'] = record['타임스탬프'].apply(lambda x: make24hour(x))

In [73]:
record.describe()

            타임스탬프      시작 페이지      종료 페이지          쪽수  독서 시간(분단위, 단위는 입력  x)
count  162.000000  162.000000  162.000000  162.000000             162.000000
mean    11.586420  137.666667  171.802469   34.135802              30.135802
std      8.914811  103.507494  103.666321   35.636799              22.917759
min      0.000000    1.000000    8.000000    4.000000               5.000000
25%      2.250000   56.000000   94.250000   15.000000              15.000000
50%      8.500000  125.000000  162.500000   25.500000              26.000000
75%     22.000000  201.500000  234.250000   42.000000              31.000000
max     23.000000  513.000000  553.000000  323.000000             230.000000

In [74]:
record.columns

Index(['타임스탬프', '이름', '독서_날짜', '책 제목', '시작 페이지', '종료 페이지', '쪽수',
       '독서 시간(분단위, 단위는 입력  x)', '오늘의 문장', '날짜'],
      dtype='object')

In [75]:
df = record[['타임스탬프', '이름', '책 제목', '쪽수', '독서 시간(분단위, 단위는 입력  x)', '오늘의 문장', '날짜']]

In [76]:
df=df.rename(columns = {'타임스탬프':'time-stamp', '이름':'user_name', '책 제목':'title','독서 시간(분단위, 단위는 입력  x)': 'reading-times', '쪽수':'reading-pages', '오늘의 문장':'daily_sentence', '날짜':'write_date'})

In [77]:
df.columns

Index(['time-stamp', 'user_name', 'title', 'reading-pages', 'reading-times',
       'daily_sentence', 'write_date'],
      dtype='object')

In [78]:
df.groupby('user_name').title.value_counts()

user_name  title
김동혁        성과를 부르는 영업의 기술 70                                                     9
           성공하는 한국인의 7가지 습관                                                      4
           생각하지 않는 사람들                                                           3
김예지        생각하지 않는 사람들                                                          11
           욕망의 진화                                                               11
           타이탄의 도구들                                                              9
           Think and grow rich                                                   8
           언스크립티드                                                                8
           역행자                                                                   5
           일 잘하는 사람은 글을 잘 씁니다                                                    4
           초집중력                                                                  4
           일취월장                                                                  2
김효임        멘탈의 연금술                                                               9
           생각하지 않는 사람들                                                           9
           팔지마라 사게하라                                                             3
           메타버스 비지니스                                                             1
           멘탈의 연금술사                                                              1
           멘탈의성공술                                                                1
           비즈니스 명저 100                                                           1
           실무에서 바로 써먹는 경리                                                        1
           제3의 세계 메타버스 비즈니스                                                      1
           현대인의 심리학                                                              1
박결         생각하지 않는 사람들                                                           6
           스시 사이언스                                                               6
           야사와 만화로 배우는 인공지능                                                      4
           저가 매수의 기술                                                             3
           시간과 물에 대하여                                                            2
           A transformer-based network for dynamic hand gestures recognition     1
           통계학, 빅데이터를 잡다                                                         1
박한         생각하지 않는 사람들                                                          14
           이어쓰는 조경학개론                                                            5
           환경과 조경                                                                5
           나는 왜 집중하지 못하는가                                                        3
           꿈의 식물                                                                 2
           자연정원을 위한 꿈의 식물                                                        2
           존도어의 okr                                                              2
Name: title, dtype: int64

In [79]:
#독서 시간대 확인
df.groupby('user_name')['time-stamp'].value_counts()

user_name  time-stamp
김동혁        23             9
           0              4
           19             2
           22             1
김예지        7             16
           8             12
           9              9
           6              7
           22             4
           23             4
           0              2
           12             2
           15             2
           5              1
           10             1
           14             1
           16             1
김효임        0             12
           1              8
           2              4
           23             2
           3              1
           8              1
박결         22             6
           1              5
           23             4
           2              3
           0              2
           6              1
           7              1
           9              1
박한         22            13
           21             8
           23             6
           10             2
           20             2
           0              1
           18             1
Name: time-stamp, dtype: int64

In [97]:
def get_day(date):
    
    days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
    date = date.rstrip(' ')
    date = datetime.strptime(date, '%Y-%m-%d')
    day = date.weekday()
    return days[day]

In [98]:
df.head()

,time-stamp,user_name,title,reading-pages,reading-times,daily_sentence,write_date
0,22,박한,이어쓰는 조경학개론,17,20,NaN,2022-3-28
1,0,김동혁,성공하는 한국인의 7가지 습관,11,30,부분보다 전체를 보는 지혜,2022-3-29
2,0,김효임,멘탈의 연금술,31,15,황금은 채굴되는 것이 아니다. 만들어지는 것이다.\n\n,2022-3-29
3,2,박결,"통계학, 빅데이터를 잡다",22,30,NaN,2022-3-29
4,7,김예지,언스크립티드,32,60,"세상은 이미 당신의 것이지만, 그것을 손에 넣는 것은 당신의 몫이다",2022-3-29

In [99]:
date

datetime.date

In [100]:
df.write_date = df.write_date.apply(lambda x: re.sub('(\. )', '-', x))

In [101]:
df['day'] = df.write_date.apply(lambda x: get_day(x))

In [102]:
df.groupby('user_name').day.value_counts()

user_name  day
김동혁        Tue     4
           Wed     4
           Fri     3
           Mon     2
           Sun     2
           Thu     1
김예지        Thu    12
           Sun    10
           Tue    10
           Fri     8
           Wed     8
           Mon     7
           Sat     7
김효임        Fri     5
           Sun     5
           Thu     5
           Tue     5
           Sat     3
           Wed     3
           Mon     2
박결         Tue     6
           Sat     4
           Sun     4
           Fri     3
           Wed     3
           Mon     2
           Thu     1
박한         Sun     7
           Fri     6
           Mon     6
           Wed     5
           Tue     4
           Sat     3
           Thu     2
Name: day, dtype: int64